<div class="grid-container" id="aboutUs">
  <div class="fix-txt">
    <mat-icon>bookmark<span>Mission</span></mat-icon>
    <p class="text">
      Our mission as a company is to provide an optimal and pleasant experience in our application.
      In addition, providing the security, trust and preference of our customers.</p>
  </div>
  <div class="fix-txt">
    <mat-icon>public<span>Vision</span></mat-icon>
    <p class="text">
      Our vision is to enter, remain and stand out in the market related to technical support
      specialized in technologies and obtain support from our clients in order to have a good position in the field.</p>
  </div>
</div>
