<section id="contact">
  <div class="box">
    <div class="personal-info">
      <mat-card>
        <mat-card-title>Contact Information</mat-card-title>
        <mat-card-subtitle>Contact us to solve any problem</mat-card-subtitle>
        <mat-card-content>
          <div>
            <mat-icon>location_on</mat-icon>
            <div><h1>Contact Address<p>301 The Greenhouse, Custard,
              Factory, London, E2 8DY.</p></h1>
              </div>
          </div>
          <div>
            <mat-icon>mail_outline</mat-icon>
            <div><h1>General Enquiries<p>
              techservice@gmail.com</p></h1>
              </div>
          </div>
          <div>
            <mat-icon>call</mat-icon>
            <div><h1>Call Us Today!!!<p>(+51) 998 765 678</p></h1>
              </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="form">
      <mat-card>
        <form>
          <h1>Ready to Get Started?</h1>
          <input type="text" name="name" placeholder="Your Name">
          <input type="email" name="email" placeholder="Your Email">
        </form>
        <textarea  name="email" placeholder="Your Message" rows="10" cols="30"></textarea>
        <br>
        <button mat-button>Send Message</button>
      </mat-card>
    </div>
  </div>
</section>
